<ion-footer>
  <ion-grid>
    <ion-row color="light">
      <ion-col size="12" size-md="6" class="ion-text-center ion-text-md-center">
        <p>Tous droits réservés © 2023 HRManagement</p>
      </ion-col>
      <ion-col size="12" size-md="6" class="ion-text-center ion-text-md-center">
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>