ion-footer {
    ion-col {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 768px) {
    ion-col {
        flex-wrap: wrap;
        :child {
            width: 100%;
        }
    }
}