<ion-header class="mobile-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" routerDirection="root">
        <ion-icon color="light" slot="icon-only" name="log-in" *ngIf="!isLoggedIn"></ion-icon>
        <ion-icon color="light" slot="icon-only" name="log-out" *ngIf="isLoggedIn"></ion-icon>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-row class="header ion-align-items-center">
  <ion-col size="2" class="ion-align-items-center">
    <img src="https://freesvg.org/img/logo_star_03.png" width="50px">
  </ion-col>
  <ion-col size="8" class="ion-text-left">
    <ion-button fill="clear" color="light" routerLink="/" routerDirection="root" routerLinkActive="active-item"
      [routerLinkActiveOptions]="{exact: true}">
      Accueil
    </ion-button>
    <!-- Button with dropdown -->
    <ion-button #productbtn fill="clear" color="light"
      routerLink="/employees" routerDirection="root" routerLinkActive="active-item" [routerLinkActiveOptions]="{exact: true}">
      Employes
    </ion-button>
    <ion-button fill="clear" color="light" routerLink="/about" routerDirection="root" routerLinkActive="active-item">
      A propos
    </ion-button>
  </ion-col>
  <ion-col size="2" class="ion-text-right">
      <ion-button fill="clear" color="light" routerLink="/login" routerDirection="root" *ngIf="!isLoggedIn">
        Connexion <ion-icon slot="end" name="log-in" color="light"></ion-icon> 
      </ion-button>
      <ion-button fill="clear" color="light" routerDirection="root" *ngIf="isLoggedIn" (click)="logout()">
        Déconnexion <ion-icon slot="end" name="log-out" color="light"></ion-icon> 
      </ion-button>
    
  </ion-col>

</ion-row>