@import '../../../global.scss';

@media(min-width: 768px) {
    ion-router-outlet {
      margin-top: 63px;
    }
  }
  
  @media(max-width: 768px) {
      ion-router-outlet {
          margin-top: 56px;
        }
  }
  
  .active-item {
      color: $primary-color;
      font-weight: 500;
      ion-icon {
          color: $primary-color;
      }
  }
