

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!--form [formGroup]="loginForm" (ngSubmit)="login()"-->
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ion-item>
          <ion-label position="floating">Adresse mail</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" routerLink="/employees" [disabled]="loginForm.invalid">Connexion</ion-button>
      </form>

      <p>Vous n'avez pas de compte ? <a routerLink="/register">Inscrivez-vous</a></p>
    </ion-card-content>
  </ion-card>
</ion-content>

